= render :partial => 'flasher'

%div
  - if Radiant::Config['reader.enable_gravatars?']    
    #readers
      - @readers.each do |reader|
        - if Radiant::Config['reader.enable_profiles?']  
          = link_to gravatar_for(reader, {:size => 100}, {:class => 'big_gravatar'}), reader_url(reader), {:title => reader.name}
        - else
          = gravatar_for(reader, {:size => 100}, {:class => 'big_gravatar'})
  %div.stretcher
    %p 

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  People

- content_for :pagetitle do
  People
